
/*
<!--Color Scheme	
    YinMn-blue #325787
    YinMn-blue #425988
    Space-Cadet #3D3D52
    Gunmetal #132932
    Vanilla #E0D89A 
*/


<link href="/normalize.css" rel="stylesheet">

 <style>

body {
	background-color: #E0D89A
}


</style>